# Search backend
DATABASE_URL="postgresql://omnipath:omnipath@localhost:55432/omnipath"
OMNIPATH_PG_SCHEMA="public"
SEARCH_BACKEND="postgres"

# Node environment
NODE_ENV="development"
DOCKERIZED="true"