*~
__pycache__/
/build/
/docs/_build/
/docs/generated/
.DS_Store
/.vscode/
/*.egg-info/
*.egg
*.prof
*.coverage
*.pickle
/out/
*.log
/dist/
*.pye
*.pyc
*.kate-swp
/.tox/
/.idea/
/.pytest_cache/
/.cache/
/data/
.venv/
cache/
bronze/*
__pycache__/
.DS_Store
pypath_log/
download_manager_log/
cache_manager_log/
node_modules/
*.parquet
pypath-data/
.env
.env.staging
.env.prod
*.tsv
target/
data/
omnipath_build.code-workspace
.next/